.login {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: var(--spacing-medium);
    background: var(--color-background);
    gap: var(--spacing-small);
    color: var(--color-secondary);
}

.input {
    appearance: none;
    outline: none;
    border: 2px solid var(--color-primary);
    font-size: 1.1rem;
    padding: 2px 10px;
    color: var(--color-secondary);
    border-radius: 8px;
    background: var(--color-background);
}

.return {
    appearance: none;
    background: var(--color-primary);
    color: var(--color-base-secondary);
    font-size: 1.1rem;
    align-self: flex-start;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 8px 20px;
    cursor: pointer;
}